body{
	padding-left:20px;
	padding-top: 20px;
}
.modal-content{
	width: 1500px;
    right: 102%;
    padding-top: 10px;
    padding-left: 4px;
    padding-right: 4px;

}
.left-head{
	background-color: #bcbcbc;
	font-weight:bold;
}
.right-head{
	background-color: #bcbcbc;
	font-weight:bold;
}
.add-left{
	text-align: right;
}
.add-right{
	text-align: right;
	padding-left: 0px;
}
.service-left{
	text-align: right;
	padding-left: 0px;
}
.service-right{
	text-align: right;
	padding-left: 0px;
}
.form-inline{
	float: right;
	margin-bottom: 10px;
	font-size: 13px;
}
select{
	height: 40px;
    width: 203px;
    border-radius: 4px;
}
.case-contact{
	background-color: #bcbcbc;
	font-weight:bold;
}