<div class="page">
  <div *ngFor="let item of tableData" class=" border  main">
    <table class="table table-striped  ">
      <thead>
        <tr>
          <th scope="col">Service Req Num</th>
          <th scope="col">Type</th>
          <th scope="col">Sub Type</th>
          <th scope="col">Status</th>
          <th scope="col">Dept</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ item.srNum }}</th>

          <td>
            <a data-toggle="modal" data-target="#myModal"> {{ item.srType }}</a>
          </td>
          <td>
            <ngb-highlight [result]="item.srSubType"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="item.srStatus"></ngb-highlight>
          </td>
          <td>
            <a data-toggle="modal" data-target="#myModal"> {{ (item.srDept===null ? 'No Data':item.srDept)}}</a>
          </td>
        </tr>
        <th colspan="5" class="notesMain">
          Notes:
          <div *ngFor="let note of item.notes">
            {{note}}
            <hr>
          </div>

        </th>
      </tbody>
    </table>

  </div>
</div>